<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegetable list</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Vegetable list </h1>
    <ul>
        {% for vegetable in vegetables %}
        <li>{{ vegetable }}</li>
        {% endfor %}
    </ul>
    <br>

    <h1>Student list </h1>

    <ol>
        {% for student in students %}
        <li>{{ student }}</li>
        {% endfor %}
    </ol>



</body>

</html>