<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vegetable list</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <h1>Vegetable list</h1>
    <img src="{% static 'images/image.png' %}" width="270" height="250" alt="favicon" />
    <ul>
      {% for vegetable in vegetables %}
      <li>{{ vegetable }}</li>
      {% endfor %}
    </ul>
    <br />

    <h1>Student list</h1>

    <ol>
      {% for student in students %}
      <li>{{ student }}</li>
      {% endfor %}
    </ol>

    <img src="{% static 'images/naruto.jpg' %}" width="260" height="250" alt="favicon" />
  </body>
</html>
